/* generics */

img {
    width: 100%;
}

/* utilities */

.vs-bg-dark {
    background-color: #2c3e50;
    color: #fff
}

.vs-bg-green {
    background-color: #1abc9c;
    color: #fff
}

.vs-bg-blue {
    background-color: #3a546d;
    color: #fff;
}

.vs-bg-darkblue {
    background-color: #2c3e50;
    color: #fff;
}

.vs-white-button {
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
}

.vs-green-button {
    background-color: #1abc9c;
    color: #fff;
    border: none;
}

.vs-img-250px {
    width: 250px;
}

.vs-text-green {
    color: #1abc9c;
}


/* contents */